@import "~bootstrap/scss/bootstrap";

*{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#copy_username_tooltip.clicked .tooltip-inner{
    background-color: #3ba55d !important;
    font-weight: 500;
}

#copy_username_tooltip.clicked .tooltip-arrow::before{
    border-top-color: #3ba55d !important;
}

:root{
    --chat-out-height: 80px;
}


@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);

    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
    opacity: 0.7;
}